@charset "utf-8";

body *, body :before, body :after {
	box-sizing: content-box;
}
.xxio2022_content {
	padding-top:135px;
	background-color: #000;
	/****** Accessibility ******/
	.a11y {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0; 
	}
  img {max-width:100%;}
	section {
		margin:0 auto;
		* {
			word-break: keep-all;
			letter-spacing: 0px;
			font-weight: 400;
			font-family: 'Myriad Pro', 'Spoqa Han Sans', 'notokr-regular', 'Dotum', verdana;
		}
	}
	.row {
    max-width: 80vw;
		max-width:1010px;
    margin: 0 auto;
    text-align: left;
		@media screen and (max-width:1240px) {
			padding-left:30px;
			padding-right:30px;
		}
	}

	.more {
		display: inline-block;
		text-decoration: none;
		border: 1px solid #000;
		border-radius: 25px;
		padding: 10px 25px;
		margin-top:60px;
		text-align: center;
		font-size: 21px;
		position: relative;
		overflow: hidden;
		span {
			position: relative;
			z-index: 1;
		}
		&:before {
			content: ' ';
			display: block;
			width: 100%;
			height: 100%;
			background-color: #000;
			transform: translate3d(-100%, 0, 0);
			transition: all ease 0.3s;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media screen and (max-width:1280px) {
			font-size:16px;
		}
	}
	.more:hover:before{
		transform:translate3d(0,0,0);
		transition:all ease 0.3s;
	}
	.more:hover span{
		color:#fff;
	}

	.growfadein{
		opacity:0;transition:all ease 1s;
		&.active{
			opacity:0;
			animation: growfade 0.5s ease 0.2s forwards;
		}
	}
	@keyframes growfade{
		0%{
			opacity:0;
			transform:scale(1.05);
		}
		30%{
			opacity:1;
		}
		40%{
			opacity:1;
			filter: brightness(1330%);
		}
		70%{
			opacity:1;
			filter: brightness(100%);
		}
		100%{
			opacity:1;
			filter: brightness(100%);
			transform:scale(1);
		}
	}

	.uc_flex {
		display: flex;
		> * {
			flex: 1;
			box-sizing: border-box;
		}
	}
	.left_to_right {
		opacity: 0;
    transform: translate3d(-150px, 0, 0) scale(1.01);
		&.active {
			animation: left_to_right 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes left_to_right{
		0%{
			opacity:0;
			transform:translate3d(-50px,0,0) scale(1.01);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}
	.right_to_left {
		opacity: 0;
    transform: translate3d(50px, 0, 0) scale(1.01);
		&.active {
			animation: right_to_left 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes right_to_left{
		0%{
			opacity:0;
			transform:translate3d(50px,0,0) scale(1.01);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}
	.bottom_to_top{
		opacity:0;
		transform:translate3d(0,50px,0) scaleY(1);
		transform-origin:top;
		&.active{
			animation:bottom_to_top 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes bottom_to_top{
		0%{
			opacity:0;
			transform:translate3d(0,50px,0) scaleY(1);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scaleY(1);
		}
	}
	.top_to_bottom{
		opacity:0;
		transform:translate3d(0,-50px,0) scale(1.1);
		&.active{
			animation:top_to_bottom 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes top_to_bottom{
		0%{
			opacity:0;
			transform:translate3d(0,-50px,0) scale(1.1);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}

  .dunlop_logo {
		margin-bottom: 7vw;
		width: 10%;
		position: absolute;
		left: 2vw;
		top: 2vw;
		z-index: 2;
		img {
			width:100%;
		}
	}
  .top_section {
		position:relative;
    overflow: hidden;
    .top_section_in {
      position: relative;
      overflow: hidden;
    }
    .cont {
      position: relative;
      z-index: 1;
      img {
        width:100%;
      }
      .main_p {
        position: absolute;
        right: 1vw;
        bottom: 0;
        width: 61vw;
        z-index: 1;
        text-align: right;
        img {
          max-width:80%;
          margin-right:5%;
        }
      }
      .main_logo {
        position: absolute;
        left: 4vw;
        top: 50%;
        width: 10vw;
        z-index: 1;
      }
      .main_text {
        position: absolute;
        left: 19vw;
        top: 38.5%;
        transform: rotate(-35deg);
        font-size: 45px;
        font-style: italic;
        z-index: 1;
        color:#fff;
      }
    }
    .bg_movie {
      opacity: 0.4;
      position: absolute;
      width: 100vw;
      height: calc(100vw / (100 / 56.5));
      top: 0;
      left: 0;
			&::before {
				content: '';
				display: block;
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				background-color: rgba(0,255,49, .3);
			}
			video {
				width:100%;
				height:100%;
			}
    }
		@media screen and (max-width:1600px) {
			.cont {
				.main_text {
					top:36.5%
				}
			}
		}
		@media screen and (max-width:1280px) {
			.cont {
				.main_text {
					font-size:30px;
				}
			}
		}
  }

  .debut_section {
		position:relative;
    min-height:95vh;
    padding-bottom:10%;
		margin-top:-10px;
    background-color: #000;
		z-index: 1;
		> p {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
			overflow: hidden;
			img {
				margin-top:-10%;
				width:100%;
			}
		}
		.products_flex {
			width: 52vw;
			margin: 0 auto;
			padding-top:13.5%;
			text-align: center;
			> p {
				padding: 0;
				text-align: center;
			}
			._logo {
				max-width:350px;
				margin:-70px auto 0;
			}
		}
		.products_bottom {
      position:relative;
      margin-top:5%;
			text-align: center;
      z-index: 1;
      img {
        max-width:940px;
        margin:0 auto;
      }
		}
		@media screen and (max-width: 1240px) {
			.products_links {
				flex-wrap: wrap;
				margin-bottom: 5vw;
				> div {
					flex: 0 1 100%;
					max-width: 100%;
					min-width: 100%;
					p {
						max-width: 15%;
    				min-width: 15%;
					}
				}
			}
			.products_bottom {
				> p {
					max-width:70%;
					margin:0 auto;
				}
				img {
					max-width:100%;
				}
			}
		}
	}
	// .debut_section {

	.tec_section {
		position:relative;
		min-height:100vh;
		padding-bottom: calc(20% + 190px);
		background: {
			color:#191919;
			image: url('./tech_bg.png');
			repeat: no-repeat;
			size:65%;
			position: center bottom calc(20% + 200px);
		}
		border-top:15px solid #00ff31;
		.more {
			position: absolute;
			bottom:190px;
			left:50%;
			border-color:#fff;
			width:290px;
			margin-left:-145px;
			span {
				color:#fff;
			}
			&:hover {
				border-color:#000;
				&:before {
					border-color: #fff;
					content: '';
					background-color: #fff;
				}
				span {
					color:#000;
				}
			}
		}
		.row {
			position: absolute;
			text-align: center;
			padding-top: 7.4%;
			left: 0;
			right: 0;
			p {
				color:#fff;
			}
		}
		.p1 {
			font-size:50px;
			font-weight: bold;
			line-height:1.3;
			span {
				display: block;
				font-size:inherit;
				font-weight: inherit;
				color:#00ff31
			}
		}
		.p2 {
			margin-top:45px;
			font-size:27px;
			line-height:1.5;
		}
		.uc_flex {
			padding:0;
			margin-top:8.9%;
			background: {
				image: url('./tec_boxbg.png');
				size:50px;
				repeat: no-repeat;
				position:center center;
			}
			> div {
				padding:40px 30px;
				border:1px solid #fff;
				background-color: rgba(0,0,0, .4);
				text-align: center;
				&:last-child {
					margin-left: 11.8%;
				}
			}
			p {
				margin-top:10px;
				font-size:37px;
				font-weight: bold;
				color:#ffc92f;
			}
			span {
				display: block;
				margin-top:10px;
				font-size:21px;
				color:#fff;
			}
		}
		@media screen and (max-width:1240px) {
			.p1 {
				font-size:40px;
			}
			.p2 {
				font-size:18px;
			}
			.uc_flex {
				p {
					font-size:28px;
				}
				span {
					font-size:16px;
				}
			}
		}
	}

	.driver_section {
		position:relative;
		min-height:100vh;
		padding-top:140px;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #00ff31;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:25%;
			.ptit {
				font-size:115px;
				font-weight: bold;
				color:#fff;
				text-align: right;
			}
			.ptxt {
				padding-top:35%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
				span {
					display: block;
          margin-top:15px;
					font-size:27px;
					color:#fff;
				}
			}
		}
		.driver_sub02 {
			margin-top:130px;
			.pimg {
				max-width:75%;
				margin:0 auto;
				padding-bottom:130px;
			}
      .heading {
        padding-top:0;
        margin-bottom:120px;
        .ptxt {
          padding-top:0;
        }
      }
		}
		.driver_sub03 {
			padding:5%;
			border:1px solid #ffca2f;
			.uc_flex {
				margin-bottom:70px;
				> div {
					&:first-of-type {
						flex:.7;
						font-weight: bold;
						font-size:40px;
						line-height:1.3;
						color:#fff;
					}
					&:last-of-type {
						flex:1.3;
					}
					dl {
						&:last-of-type {
							margin-top:15px;
						}
					}
					dt {
						font-weight: bold;
						font-size:27px;
						color:#ffca2f;
					}
					dd {
						margin-top:5px;
						font-weight: bold;
						font-size:17px;
						color:#fff;
					}
				}
			}
		}
		.driver_sub04 {
			.heading {
				.ptxt {
					padding-top:0;
          font-size:48px;
				}
			}
			.uc_flex {
				margin-top:40px;
				.pimg {
					position:relative;
					width:100%;
					padding-bottom:80%;
					text-align: center;
					overflow: hidden;
					img {
						position:absolute;
						left:50%;
						top:50%;
						-webkit-transform: translate(-50%, -50%); 
						transform: translate(-50%, -50%);  
					}
				}
				> div {
					&:last-of-type {
						.desc {
							padding-left:10%;
						}
					}
				}
			}
			.desc {
				font-weight: bold;
				font-size:23px;
				line-height:1.3;
				color:#ffc92e;
			}
		}
		@media screen and (max-width:1280px) {
			.heading {
				.ptit {
					font-size:80px;
				}
				.ptxt {
					font-size: 40px;
				}
			}
			.driver_sub03 {
				.uc_flex {
					> div {
						&:first-of-type {
							font-size:30px;
						}
						dt {
							font-size:21px;
						}
						dd {
							font-size:14px;
						}
					}
				}
			}
			.driver_sub04 {
				.desc {
					font-size:18px;
				}
			}
		}
	}
	// .driver_section

	.fairway_section {
		position:relative;
		min-height:100vh;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #00ff31;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:30%;
			.ptit {
				padding-left:50%;
				font-size:115px;
				font-weight: bold;
				line-height:1.2;
				color:#fff;
				text-align: left;
			}
			.ptxt {
				padding-top:30%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
			}
		}
		.fairway_sub02 {
			margin-top:125px;
      .ptit {
        img {
          max-width:340px;
        }
      }
			.uc_flex {
				margin-top:15px;
				> div {
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
					&:last-of-type {
						margin-left:15px;
						border:1px solid #fff;
						p {
							font-weight: bold;
							font-size:35px;
							color:#fff;
						}
					}
				}
			}
		}
		.fairway_sub03 {
			margin-top:125px;
      .ptit {
        img {
          max-width:470px;
        }
      }
			.uc_flex {
				margin-top:15px;
				margin-bottom:50px;
				> div {
					flex:.5;
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
				}
			}
		}
		.fairway_sub04 {
			margin-top:170px;
		}
		@media screen and (max-width:1280px) {
			.heading {
				.ptit {
					font-size:80px;
				}
				.ptxt {
					font-size: 40px;
				}
			}
			.fairway_sub02 {
				.uc_flex {
					> div {
						&:last-of-type {
							p {
								font-size:28px;
							}
						}
					}
				}
			}
		}
	}
	// .fairway_section

	.hybrids_section {
		position:relative;
		min-height:100vh;
		padding-top:140px;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #00ff31;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:30%;
			.ptit {
				font-size:115px;
				font-weight: bold;
				line-height:1.2;
				color:#fff;
				text-align: right;
			}
			.ptxt {
				padding-top:30%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
			}
		}
		.hybrids_sub02 {
			margin-top:125px;
      .ptit {
        img {
          max-width:340px;
        }
      }
			.uc_flex {
				margin-top:15px;
				> div {
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
					&:last-of-type {
						margin-left:15px;
						border:1px solid #fff;
						p {
							font-weight: bold;
							font-size:35px;
							color:#fff;
						}
					}
				}
			}
		}
		.hybrids_sub03 {
			margin-top:125px;
      .ptit {
        img {
          max-width:470px;
        }
      }
			.uc_flex {
				margin-top:15px;
				margin-bottom:50px;
				> div {
					flex:.5;
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
				}
			}
		}
		.hybrids_sub04 {
			margin-top:170px;
		}
		@media screen and (max-width:1280px) {
			.heading {
				.ptit {
					font-size:80px;
				}
				.ptxt {
					font-size: 40px;
				}
			}
			.hybrids_sub02 {
				.uc_flex {
					> div {
						&:last-of-type {
							p {
								font-size:28px;
							}
						}
					}
				}
			}
		}
	}

	.iron_section {
		position:relative;
		min-height:100vh;
		padding-top:140px;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #00ff31;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:25%;
			.ptit {
				font-size:115px;
				font-weight: bold;
				line-height:1.2;
				color:#fff;
				text-align: right;
			}
			.ptxt {
				padding-top:30%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
			}
		}
		.iron_sub02 {
			margin-top:125px;
			.desc {
				margin-bottom:60px;
				font-size:40px;
				font-weight: bold;
				color:#fff;
				span {
					display: block;
					margin-top:15px;
					font-size:17px;
					color:#fff;
				}
			}
			.uc_flex {
				margin-top:15px;
				> div {
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
					&:last-of-type {
						margin-left:15px;
						border:1px solid #a1d3e9;
						p {
							font-weight: bold;
							font-size:35px;
							color:#fff;
						}
					}
				}
			}
		}
		.iron_sub03 {
			margin-top:180px;
		}
		@media screen and (max-width:1280px) {
			.heading {
				.ptit {
					font-size:80px;
				}
				.ptxt {
					font-size: 40px;
				}
			}
		}
	}

	.product_section {
		padding:7.4% 0; 
		background-color: #000;
		.heading {
			font-size:50px;
			font-weight: bold;
			color:#fff;
			text-align: center;
			.more {
				display: inline-block;
				margin:0 auto;
				font-size:20px;
				color:#00ff31;
			}
		}
		.uc_flex {
			margin-top:40px;
			text-align: center;
			.pimg {
				height:17vw;
				text-align: center;
				@media screen and (min-width:1920px) {
					height:290px;
				}
				img {
					max-height:100%;
				}
			}
			.p1 {
				font-size:27px;
				color:#fff;
			}
			.more {
				padding:5px 25px;
				margin-top:15px;
				border:1px solid #00ff31;
				font-size:15px;
				span {
					font-size:15px;
					color:#00ff31;
				}
				&:hover {
					border-color: #fff;
					&::before {
						background-color: #fff;
					}
				}
			}
		}

		@media screen and (max-width:1280px) {
			.heading {
				font-size:40px;
				.more {
					font-size:16px;
				}
			}
			.uc_flex {
				.p1 {
					font-size:20px;
				}
			}
			.more {
				font-size:13px;
			}
		}
	}
	.br, .m_txt {display: none;}
	._mo {display: none;}
}

@media screen and (max-width:1024px) {
	.xxio2022_content {
		padding-top:109px;
		._mo {display: block;}
		._pc {display: none;}
		.br {display: block;}
		.m_txt {display: block;}
		section:not(.top_section) {
			padding-top:70px;
			padding-bottom:70px;
			border-width:7px;
		}
		.row {
			padding-left:15px;
			padding-right:15px;
			padding-top:0 !important;
		}
		.debut_section {
			min-height:auto;
			padding-top:0 !important;
			padding-bottom:140px !important;
			.row {
				padding-bottom:0;
			}
			> p {
				position:relative;
			}
			> ._mo {
				img {
					margin-top:0;
				}
			}
			.products_flex {
				position:absolute;
				left:50%;
				top:0;
				-webkit-transform: translate(-50%, 0); 
				transform: translate(-50%, 0);  
				width:83%;
				padding-top:20%;
				._logo {
					width:120px;
					margin-top:-30px;
				}
				._mo {
					margin-top:20px;
				}
			}
			.products_links {
				> div {
					p {
						max-width:130px;
						min-width:130px;
					}
				}
			}
			.products_bottom {
				padding-top:22%;
				> p {
					max-width:320px;
				}
			}
		}
		// 
		.tec_section {
			background-color:#0a0b0b;
			background-size:100%;
			background-image: url('./m_tech_bg.png');
			background-position:center bottom;
			.row {
				position: relative;
				.p1 {
					padding-left:15px;
					padding-right:15px;
					font-size:22px;
				}
				.p2 {
					margin-top:25px;
					padding:0 10%;
					font-size:12px;
					line-height:1.6;
				}
				.uc_flex {
					display: block;
					width:calc(100% - 80px);
					margin:35px auto 0;
					background-size:25px;
					> div {
						padding:10px 20px 20px;
						margin-left:0 !important;
						background-color: rgba(0,0,0, .6);
						img {
							max-width:80%;
						}
						&:last-of-type {
							margin-top:60px;
						}
					}
					p {
						font-size:16px;
					}
					span {
						font-size:10px;
					}
				}
			}
			.more {
				position:relative;
				bottom:inherit;
				left:inherit;
				margin:55% auto 0;
				display: block;
				width:140px;
				font-size:10px;
			}
		}
		// 
		.driver_section {
			border-top-width: 7px;
			.headimg {
				top:70px;
			}
			.heading {
				.ptit {
					font-size:40px;
				}
				.ptxt {
					font-size:22px;
					span {
						width:75%;
						font-size:12px;
					}
				}
			}
			.driver_sub01 {
				padding-left:30px;
				padding-right:30px;
			}
			.driver_sub02 {
				padding-left:30px;
				padding-right:30px;
				margin-top:15px;
				.pimg {
					max-width:100%;
					padding-bottom:30px;
				}
				.heading {
					margin-bottom:60px;
				}
			}
			.driver_sub03 {
				margin-left:15px;
				margin-right:15px;
				&.row {
					padding-left:5%;
					padding-right:5%;
				}
				.uc_flex {
					padding:20px 0;
					margin-bottom:30px;
					> div {
						flex:1 !important;
						&:first-of-type {
							font-size:22px;
						}
						dt {
							font-size: 12px;
						}
						dd {
							font-size:10px;
						}
					}
				}
			}
			.driver_sub04 {
				.heading {
					padding-left:15px;
					padding-right:15px;
					padding-top:60px;
					.ptxt {
						width:90%;
						font-size:22px;
					}
				}
				.uc_flex {
					display: block;
					margin-top:20px;
					> div {
						display: flex;
						align-items: center;
						&:last-of-type {
							.pimg {
								padding-bottom:40%;
							}
						}
					}
					.pimg {
						flex:1.1;
						padding-bottom:50%;
						img {
							left:0;
							-webkit-transform: translate(0, -50%);
							transform: translate(0, -50%);
							max-width:85% !important;
						}
					}
				}
				.desc {
					flex:.9;
					padding-left:0 !important;
					font-size: 10px;
					line-height:1.5;
					color:#fff;
				}
			}
		}	
		//  
		.fairway_section {
			border-top-width: 7px;
			.headimg {
				top:70px;
			}
			.heading {
				.ptit {
					font-size:40px;
				}
				.ptxt {
					font-size:22px;
					span {
						width:75%;
						font-size:12px;
					}
				}
			}
			.fairway_sub01 {
				padding-left:30px;
				padding-right:30px;
			}
			.fairway_sub02 {
				padding-left:30px;
				padding-right:30px;
				margin-top:60px;
				.ptit {
					max-width:60%;
					img {
						max-width:100%;
					}
				}
				.uc_flex {
					> div {
						display: flex;
						padding:15px;
						align-items: center;
						justify-content: center;
						&:first-of-type {
							p {
								font-size:10px;
							}
						}
						&:last-of-type {
							p {
								font-size:12px;
							}
						}
					}
				}
			}
			.fairway_sub03 {
				margin-top:60px;
				.ptit {
					max-width:60%;
					img {
						max-width:100%;
					}
				}
				.uc_flex {
					margin-bottom:15px;
					> div {
						padding:15px;
						align-items: center;
						&:first-of-type {
							p {
								font-size:10px;
							}
						}
					}
				}
			}
			.fairway_sub04 {
				margin-top:60px;
				.uc_flex {
					display: block;
					text-align: center;
					img {
						max-width:70%;
						margin:0 auto;
					}
					> div {
						&:last-of-type {
							margin-top:50px;
							img {
								max-width:100%;
							}
						}
					}
				}
			}
		}
		//  
		.hybrids_section {
			border-top-width: 7px;
			.headimg {
				top:70px;
			}
			.heading {
				.ptit {
					font-size:40px;
				}
				.ptxt {
					font-size:22px;
					span {
						width:75%;
						font-size:12px;
					}
				}
			}
			.hybrids_sub01 {
				padding-left:30px;
				padding-right:30px;
			}
			.hybrids_sub02 {
				padding-left:30px;
				padding-right:30px;
				margin-top:60px;
				.ptit {
					max-width:60%;
					img {
						max-width:100%;
					}
				}
				.uc_flex {
					> div {
						display: flex;
						padding:15px;
						align-items: center;
						justify-content: center;
						&:first-of-type {
							p {
								font-size:10px;
							}
						}
						&:last-of-type {
							p {
								font-size:12px;
							}
						}
					}
				}
			}
			.hybrids_sub03 {
				margin-top:60px;
				.ptit {
					max-width:60%;
					img {
						max-width:100%;
					}
				}
				.uc_flex {
					margin-bottom:15px;
					> div {
						padding:15px;
						align-items: center;
						&:first-of-type {
							p {
								font-size:10px;
							}
						}
					}
				}
			}
			.hybrids_sub04 {
				margin-top:60px;
				.uc_flex {
					display: block;
					text-align: center;
					img {
						max-width:70%;
						margin:0 auto;
					}
					> div {
						&:last-of-type {
							margin-top:50px;
							img {
								max-width:100%;
								margin-left:-5%;
							}
						}
					}
				}
			}
		}
		//  
		.iron_section {
			border-top-width: 7px;
			.headimg {
				top:70px;
			}
			.heading {
				.ptit {
					font-size:40px;
				}
				.ptxt {
					font-size:22px;
					span {
						width:75%;
						font-size:12px;
					}
				}
			}
			.iron_sub01 {
				padding-left:30px;
				padding-right:30px;
			}
			.iron_sub02 {
				padding-left:30px;
				padding-right:30px;
				margin-top:20px;
				.desc {
					margin-bottom:30px;
					font-size:12px;
					span {
						margin-top:5px;
						font-size:10px;
						word-break: keep-all;
					}
				}
				.pimg {
					margin-left:-15px;
					margin-right:-15px;
				}
			}
			.iron_sub03 {
				margin-top:60px;
				.uc_flex {
					display: block;
					> div {
						&:first-of-type {
							margin-bottom:40px;
							img {
								margin-left:9%;
							}
						}
					}
				}
				.m_txt {
					margin-bottom:40px;
					text-transform: uppercase;
					font-size:20px;
					font-weight: 700;
					color:#fff;
					text-align: center;
				}
			}
		}
		// 
		.product_section {
			.heading {
				font-size:22px;
				.more {
					font-size:12px;
				}
			}
			.uc_flex {
				display: block;
				> div {
					margin-top:30px;
				}
				.pimg {
					max-width:50%;
					height:auto;
					margin:0 auto;
				}
				.more {
					padding-top:3px;
					span {
						font-size:12px;
					}
				}
			}
			.bottom_to_top {
				.p1 {
					font-size:16px;
				}
			}
			.more {
				font-size:12px;
			}
		}
	}
}
