@charset "utf-8";

body *, body :before, body :after {
	box-sizing: content-box;
}
.xxio2022_content {
	padding-top:135px;
	background-color: #000;
	/****** Accessibility ******/
	.a11y {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0; 
	}
  img {max-width:100%;}
	section {
		margin:0 auto;
		* {
			word-break: keep-all;
			letter-spacing: 0px;
			font-weight: 400;
			font-family: 'Myriad Pro', 'Spoqa Han Sans', 'notokr-regular', 'Dotum', verdana;
		}
	}
	.row {
    max-width: 80vw;
		max-width:1010px;
    // padding: 0 5vw;
    margin: 0 auto;
    text-align: left;
		@media screen and (max-width:1240px) {
			padding-left:30px;
			padding-right:30px;
		}
	}

	.more {
		display: inline-block;
		text-decoration: none;
		border: 1px solid #000;
		border-radius: 25px;
		padding: 10px 25px;
		margin-top:60px;
		text-align: center;
		font-size: 21px;
		position: relative;
		overflow: hidden;
		span {
			position: relative;
			z-index: 1;
		}
		&:before {
			content: ' ';
			display: block;
			width: 100%;
			height: 100%;
			background-color: #000;
			transform: translate3d(-100%, 0, 0);
			transition: all ease 0.3s;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.more:hover:before{
		transform:translate3d(0,0,0);
		transition:all ease 0.3s;
	}
	.more:hover span{
		color:#fff;
	}

	.growfadein{
		opacity:0;transition:all ease 1s;
		&.active{
			opacity:0;
			animation: growfade 0.5s ease 0.2s forwards;
		}
	}
	@keyframes growfade{
		0%{
			opacity:0;
			transform:scale(1.05);
		}
		30%{
			opacity:1;
		}
		40%{
			opacity:1;
			filter: brightness(1330%);
		}
		70%{
			opacity:1;
			filter: brightness(100%);
		}
		100%{
			opacity:1;
			filter: brightness(100%);
			transform:scale(1);
		}
	}

	.uc_flex {
		display: flex;
    // margin-right: -2vw;
		> * {
			flex: 1;
			box-sizing: border-box;
			// padding-right: 2vw;
		}
	}
	.left_to_right {
		opacity: 0;
    transform: translate3d(-150px, 0, 0) scale(1.01);
		&.active {
			animation: left_to_right 1.0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes left_to_right{
		0%{
			opacity:0;
			transform:translate3d(-50px,0,0) scale(1.01);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}
	.right_to_left {
		opacity: 0;
    transform: translate3d(50px, 0, 0) scale(1.01);
		&.active {
			animation: right_to_left 1.0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes right_to_left{
		0%{
			opacity:0;
			transform:translate3d(50px,0,0) scale(1.01);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}
	.bottom_to_top{
		opacity:0;
		transform:translate3d(0,50px,0) scaleY(1);
		transform-origin:top;
		&.active{
			animation:bottom_to_top 1.0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes bottom_to_top{
		0%{
			opacity:0;
			transform:translate3d(0,50px,0) scaleY(1);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scaleY(1);
		}
	}
	.top_to_bottom{
		opacity:0;
		transform:translate3d(0,-50px,0) scale(1.1);
		&.active{
			animation:top_to_bottom 1.0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s forwards;
		}
	}
	@keyframes top_to_bottom{
		0%{
			opacity:0;
			transform:translate3d(0,-50px,0) scale(1.1);
		}
		100%{
			opacity:1;
			transform:translate3d(0,0,0) scale(1);
		}
	}

  .dunlop_logo {
		margin-bottom: 7vw;
		width: 10%;
		position: absolute;
		left: 2vw;
		top: 2vw;
		z-index: 2;
		img {
			width:100%;
		}
	}
  .top_section {
    overflow: hidden;
    .top_section_in {
      position: relative;
      overflow: hidden;
    }
    .cont {
      position: relative;
      z-index: 1;
      img {
        width:100%;
      }
      .main_p {
        position: absolute;
        right: 1vw;
        bottom: 0;
        width: 61vw;
        z-index: 1;
        text-align: right;
        img {
          max-width:80%;
          margin-right:5%;
        }
      }
      .main_logo {
        position: absolute;
        left: 4vw;
        top: 50%;
        width: 10vw;
        z-index: 1;
      }
      .main_text {
        position: absolute;
        left: 19vw;
        top: 38.5%;
        transform: rotate(-35deg);
        font-size: 45px;
        font-style: italic;
        z-index: 1;
        color:#fff;
      }
    }
    .bg_movie {
      opacity: 0.4;
      position: fixed;
      width: 100vw;
      height: calc(100vw / (100 / 56.5));
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .debut_section {
		position:relative;
		.row {
			position: relative;
			padding-top: 10%;
			padding-bottom:10%;
			z-index: 1;
		}
		> p {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.products {
			bottom: 0;
			z-index: 1;
			margin: 0 auto;
			padding-bottom: 3vw;
		}
		.products_flex {
			width: 60vw;
			// display: flex;
			margin: 0 auto;
			margin-bottom:-1vw;
      text-align: center;
			> p {
				padding: 0;
        text-align: center;
        // margin-left:-9vw;
			}
      // img {max-width:940px;}
		}
		.products_links {
			display: flex;
			.uc_flex {
				flex:1;
			}
			> div {
        margin:0 auto;
				align-items: center;
        text-align: center;
				p {
					width: 35%;
          margin:0 auto;
					text-align: center;
				}
				a {
					color: #fff;
					text-decoration: none;
					border: 1px solid #fff;
					border-radius: 100px;
					display: block;
					font-size: 20px;
					text-align: center;
					position: relative;
					overflow: hidden;
					padding:10px 0;
					z-index: 2;
					span {
						vertical-align: baseline;
					}
					&:after {
						content: ' ';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: #fff;
						transform: translate3d(-100%, 0, 0);
						transition: all ease 0.3s;
						z-index: 1;
					}
				}
			}
		}
		.products_bottom {
			margin-top:3%;
			text-align: center;
      img {
        max-width:940px;
      }
		}
		@media screen and (max-width: 1240px) {
			.products_links {
				flex-wrap: wrap;
				margin-bottom: 5vw;
				> div {
					flex: 0 1 100%;
					max-width: 100%;
					min-width: 100%;
					p {
						max-width: 25%;
    				min-width: 25%;
					}
				}
			}
			.products_bottom {
				> p {
					max-width:70%;
					margin:0 auto;
				}
			}
		}
	}
	// .debut_section {

	.tec_section {
		position:relative;
		min-height:100vh;
		padding-bottom: calc(20% + 190px);
		background: {
			color:#191919;
			image: url('./tech_bg.png');
			repeat: no-repeat;
			size:contain;
			position: center bottom  calc(20% + 190px);
		}
		.more {
			position: absolute;
			bottom:190px;
			left:50%;
			border-color:#fff;
			width:290px;
			margin-left:-145px;
			span {
				color:#fff;
			}
			&:hover {
				border-color:#000;
			}
		}
		.row {
			position: absolute;
			text-align: center;
			padding-top: 7.4%;
			left: 0;
			right: 0;
			p {
				color:#fff;
			}
		}
		.p1 {
			font-size:50px;
			font-weight: bold;
			line-height:1.3;
			span {
				display: block;
				font-size:inherit;
				font-weight: inherit;
				color:#00afe8
			}
		}
		.p2 {
			margin-top:45px;
			font-size:27px;
			line-height:1.5;
		}
		.uc_flex {
			padding:0;
			margin-top:8.9%;
			background: {
				image: url('./tec_boxbg.png');
				size:50px;
				repeat: no-repeat;
				position:center center;
			}
			> div {
				padding:40px 30px;
				border:1px solid #fff;
				background-color: rgba(0,0,0, .4);
				text-align: center;
				&:last-child {
					margin-left: 11.8%;
				}
			}
			p {
				margin-top:10px;
				font-size:37px;
				font-weight: bold;
				color:#ffc92f;
			}
			span {
				display: block;
				margin-top:10px;
				font-size:21px;
				color:#fff;
			}
		}
		@media screen and (max-width:1240px) {
			.p1 {
				font-size:40px;
			}
			.p2 {
				font-size:18px;
			}
			.uc_flex {
				p {
					font-size:28px;
				}
				span {
					font-size:16px;
				}
			}
		}
	}

	.driver_section {
		position:relative;
		min-height:100vh;
		padding-top:140px;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #000be3;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:15%;
			.ptit {
				font-size:115px;
				font-weight: bold;
				color:#fff;
				text-align: right;
			}
			.ptxt {
				padding-top:35%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
			}
		}
		.driver_sub02 {
			margin-top:130px;
			.pimg {
				max-width:75%;
				margin:0 auto;
				padding-bottom:130px;
			}
		}
		.driver_sub03 {
			padding:5%;
			border:1px solid #00b0e8;
			.uc_flex {
				margin-bottom:70px;
				> div {
					&:first-of-type {
						flex:.7;
						font-weight: bold;
						font-size:40px;
						line-height:1.3;
						color:#fff;
					}
					&:last-of-type {
						flex:1.3;
					}
					dl {
						&:last-of-type {
							margin-top:15px;
						}
					}
					dt {
						font-weight: bold;
						font-size:27px;
						color:#00b0e8;
					}
					dd {
						margin-top:5px;
						font-weight: bold;
						font-size:17px;
						color:#fff;
					}
				}
			}
		}
		.driver_sub04 {
			.heading {
				.ptxt {
					padding-top:0;
				}
			}
			.uc_flex {
				margin-top:40px;
				.pimg {
					position:relative;
					width:100%;
					padding-bottom:80%;
					text-align: center;
					overflow: hidden;
					img {
						position:absolute;
						left:50%;
						top:50%;
						-webkit-transform: translate(-50%, -50%); 
						transform: translate(-50%, -50%);  
					}
					&:first-of-type {
						img {
							max-width:400px;
						}
					}
					&:last-of-type {
						img {
							max-width:470px;
						}
					}
				}
				> div {
					&:last-of-type {
						.desc {
							padding-left:10%;
						}
					}
				}
			}
			.desc {
				font-weight: bold;
				font-size:23px;
				line-height:1.3;
				color:#00b1e8;
			}
		}
	}
	// 

	.fairway_section {
		position:relative;
		min-height:100vh;
		padding-top:140px;
		padding-bottom:10%;
		background-color: #191919;
		border-top:15px solid #000be3;
		.headimg {
			position:absolute;
			left:0;
			right:0;
			top:140px;
			width:100%;
		}
		.row {
			position:relative;
			z-index: 1;
		}
		.heading {
			padding-top:15%;
			.ptit {
				padding-left:50%;
				font-size:115px;
				font-weight: bold;
				line-height:1.2;
				color:#fff;
				text-align: left;
			}
			.ptxt {
				padding-top:30%;
				font-size:55px;
				font-weight: bold;
				color:#fff;
			}
		}
		.fairway_sub02 {
			margin-top:125px;
			.uc_flex {
				margin-top:15px;
				> div {
					padding:30px;
					&:first-of-type {
						background-color: #474747;
						p {
							font-weight: bold;
							font-size:17px;
							line-height:1.8;
							color:#fff;
						}
					}
					&:last-of-type {
						margin-left:15px;
						border:1px solid #a1d3e9;
						p {
							font-weight: bold;
							font-size:35px;
							color:#fff;
						}
					}
				}
			}
		}
	}
	
}
